<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Add Book</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>

<body>
    <button style="position: absolute; top: 10%; left: 5%;"><a style="color: white;" href="/admin">Home</a></button>
    <h1>Add Book</h1>

    <form action="/addBook" method="POST">

        <label for="bookTitle">Book Title</label>
        <input type="text" id="bookTitle" name="title" />

        <label for="bookAuthor">Book Author</label>
        <input type="text" id="bookAuthor" name="author" />

        <label for="bookQuantity">Quantity</label>
        <input type="text" id="bookQuantity" name="quantity" />
        <br>
        <button type="submit">Add Book</button>

    </form>

</body>

</html>