<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <h1 class="welcome-user">Welcome {{.}}</h1> 
  <ul class="dashboard-navs">
    <li><a href="/requests">View Requests</a></li>
    <li><a href="/addBook">Add Books</a></li>
    <li><a href="/issuedBooks">View Issued Books</a></li>
    <li><a href="/adminRequests">View Admin Requests</a></li>
  </ul>
  <form action="/logout" method="POST">
    <button class="logout-button" type="submit">Logout</button>
  </form>
</body>
</html>