<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <title>MGCl</title>
</head>
<body>
  <div class="lp-body">
  <div class="lp-content">
  <h1>Welcome to the MGCL!</h1>
  
  <div style="display: flex; flex-direction: row; gap: 2rem;">
  <a href="/signup">
    <button>Sign Up</button>
  </a>
  
  <a href="/login">
    <button>Login</button>
  </a>
</div>
  </div>
  <img src="/static/image/illustration.png" alt="illustration" />
</div>
</div>
</body>
</html>