<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Requests</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>
    <body>
        <h1>Your Books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Request Status</th>
                    <th>Return Book</th>
                </tr>
            </thead>
            <tbody> 
                {{ range . }}               
                    <tr>
                        <td>{{ .Title }}</td>
                        <td>{{ .BookStatus}}</td>
                        <td>
                            <form action="/user/return" method="POST">
                                <input type="hidden" name="userID" value="{{ .UserID }}">
                                <input type="hidden" name="bookI" value="{{ .BookID }}">
                                <button type="submit">
                                    Return
                                </button>
                            </form>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
