<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Requests</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>

    <body>
        <button style="position: absolute; top: 10%; left: 5%;"><a style="color: white;" href="/user">Home</a></button>
        <h1>Your Pending Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Request Status</th>
                </tr>
            </thead>
            <tbody>
                {{ range .PendingRequests }}
                    <tr>
                        <td>{{ .BookID }}</td>
                        <td>{{ .Title }}</td>
                        <td>{{ .BookStatus }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>

        <h1>Rejected Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Request Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .RejectedRequests }}
                    <tr>
                        <td>{{ .BookID }}</td>
                        <td>{{ .Title }}</td>
                        <td>{{ .BookStatus }}</td>
                        <td>
                            <form action="/user/removeRequest" method="POST">
                                <button type="submit" name="requestID" value="{{ .RequestID }}">
                                    Clear
                                </button>
                            </form>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
