<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Requests</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>

    <body>
        <h1>Pending Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Book Title</th>
                    <th>Request Status</th>
                    <th>Book Status</th>
                    <th>Requested By</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .PendingRequests }}
                    <tr>
                        <td>{{ .RequestID }}</td>
                        <td>{{ .Title }}</td>
                        <td>{{ .RequestStatus }}</td>
                        <td>{{ .BookStatus }}</td>
                        <td>{{ .Username }}</td>
                        <td>
                            <form action="/requests/approve" method="POST">
                                <button type="submit" name="requestId" value="{{ .RequestID }}">
                                    Approve
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="/requests/reject" method="POST">
                                <button type="submit" name="requestId" value="{{ .RequestID }}">
                                    Reject
                                </button>
                            </form>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>

        <h1>Rejected Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Book Title</th>
                    <th>Request Status</th>
                    <th>Book Status</th>
                    <th>Requested By</th>
                </tr>
            </thead>
            <tbody>
                {{ range .RejectedRequests }}
                    <tr>
                        <td>{{ .RequestID }}</td>
                        <td>{{ .Title }}</td>
                        <td>{{ .RequestStatus }}</td>
                        <td>{{ .BookStatus }}</td>
                        <td>{{ .Username }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
