<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <title>User Dashboard</title>
  </head>
  <body>
    <h1 class="welcome-user">Welcome {{.}}</h1>
    <ul class="dashboard-navs">
      <li ><a href="/myRequests">Your Requests</a></li>
      <li ><a href="/myBooks">Your Books</a></li>
      <li ><a href="/books">View Books</a></li>
    </ul>
    <form action="/logout" method="POST">
      <button class="logout-button" type="submit">Logout</button>
    </form>
  </body>
</html>